<%= render :partial => "layouts/navigation" %>
<div class="wrapper">
 <div class="parallax filter-gradient bitstop-red" data-color="red">
   <div class="container" style="z-index:9999">
       <%#= link_to bitstop_path, class: "center-block", target: "_blank" do %>
         <%#= image_tag "powered_by_bitstop-w.svg", style: "width:10rem;margin-top: 0.5rem;" %>
       <%# end %>
   </div>
    <div class= "container">
      <div class="row">
        <div class="col-md-5">
          <div class="hidden-md-up">
            <div class="" style="margin-top:6rem; margin-bottom:-8rem;">
              <%= link_to bitstop_path, class: 'm-a-1', style: "", target: "_blank" do %>
                <%= image_tag "applestore.svg", style: "width:12rem;" %>
              <% end %>
              <%= link_to bitstop_path, class: 'm-a-1', style: "", target: "_blank" do %>
                <%= image_tag "googlestore.svg", style: "width:12rem;" %>
              <% end %>
              <!-- <button class="btn btn-fill btn-neutral">
                <i class="fa fa-apple gray"></i> App Store
              </button>
              <button class="btn btn-fill btn-neutral">
                <i class="fa fa-google"></i> Google Play
              </button> -->
            </div>
          </div>
          <div class="iphone-landing-wrapper">
            <%= image_tag "iphone3.png", class: "iphone-landing", style: "" %>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1 hidden-sm-down">
          <div class="description">
            <h2>Bitcoin Tools</h2>
            <p>Bitcoin Tools is Bitstop's official app. We know bitcoin can be complicated at first, so we created tools to help make bitcoin simple. Bitcoin Tools enables users to track the Bitcoin price and quickly calculate conversions from bitcoin to multiple traditional currencies.</p>
          </div>
          <div class="">
            <%= link_to bitstop_path, class: "", style: "", target: "_blank" do %>
              <%= image_tag "applestore.svg", style: "width:12rem;" %>
            <% end %>
            <%= link_to bitstop_path, class: "m-a-1", style: "", target: "_blank" do %>
              <%= image_tag "googlestore.svg", style: "width:12rem;" %>
            <% end %>
            <!-- <button class="btn btn-fill btn-neutral">
              <i class="fa fa-apple"></i> App Store
            </button>
            <button class="btn btn-fill btn-neutral">
              <i class="fa fa-google"></i> Google Play
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <a class="arrow-wrap hidden-sm-down" href="#content">
      <span class="arrow"></span>
      <!--<span class="hint">scroll</span>-->
    </a>
  </div>
<div id="content1" class="section section-presentation hidden-md-up">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="description">
            <h2 class="header-text">Bitcoin Tools</h4>
            <p class="hidden-md-up">
              Bitcoin Tools is Bitstop's official app. We know bitcoin can by complicated at first, so we created tools to help make bitcoin simple. Bitcoin tools enables users to track the Bitcoin price and quickly calculate conversions from bitcoin to multiple traditional currencies.
            </p>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="parallax-image">
            <%= image_tag "iphone3.png", style: "width: 8rem;position: relative;top: 0;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content" class="section section-features">
    <div class="container">
      <h4 class="header-text text-center">Features</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="card ">
            <div class="icon">
            </div>
            <div class="text">
              <%= image_tag "bitcoin-logo.svg", style: "width: 5rem; margin-top:2rem;" %>
              <h4>Bitcoin Price Ticker</h4>
              <p>Never lose track of the price. Track the bitcoin price across multiple global exchanges.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card ">
            <div class="icon">
            </div>
            <%= image_tag "graph.svg", style: "width: 5rem; margin-top:2rem;" %>
            <h4>Bitcoin Historical Price Graph</h4>
            <p>View all-time historical Bitcoin price data and stay up to date with gains & losses.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card ">
            <div class="icon">
            </div>
            <%= image_tag "calculator.svg", style: "width: 5rem; margin-top:2rem;" %>
            <h4>Bitcoin Calculator</h4>
            <p>Convert bitcoin to various currencies: USD, EUR, CAD, GPB, BRL, BV, MXN.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-no-padding">
    <div class="parallax filter-gradient bitstop-red" data-color="red">
      <!-- <div class="parallax-background">
        <%#= image_tag "iphone-use.jpg", class: "parallax-background-image" %>
      </div> -->
      <div class="info">
        <h1>Download Bitcoin Tools today!</h1>
        <p>Now available free in the Apple App Store and Google Play Store.</p>
        <%= link_to bitstop_path, class: 'm-a-1', style: "", target: "_blank" do %>
          <%= image_tag "applestore.svg", style: "width:12rem;" %>
        <% end %>
        <%= link_to root_path, class: 'm-a-1', target: "_blank" do %>
          <%= image_tag "powered_by_bitstop-w.svg", style: 'width:12rem;' %>
        <% end %>
        <%= link_to bitstop_path, class: 'm-a-1', style: "", target: "_blank" do %>
          <%= image_tag "googlestore.svg", style: "width:12rem;" %>
        <% end %>
        <!-- <a href="<%= root_path %>" class="btn btn-neutral btn-lg btn-fill">DOWNLOAD</a> -->
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <nav class="pull-right">
        <ul>
          <li>
            <a href="http://bitstop.co" target="_blank">
              Bitstop
            </a>
          </li>
          <li>
            <a href="http://bitstop.co/about" target="_blank">
              About
            </a>
          </li>
          <li>
            <a href="mailto:doug@bitstop.co" target="_blank">
              Contact
            </a>
          </li>
          <li>
            <a href="http://blog.bitstop.co" target="_blank">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <div class="social-area">
        <a class="btn btn-social btn-facebook btn-simple" href="https://www.facebook.com/Bitstopofficial/" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-social btn-twitter btn-simple" href="https://www.twitter.com/Bitstopofficial/" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-social btn-instagram btn-simple" href="https://www.instagram.com/bitstopco/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="pull-right">
        &copy; 2016 <a href="https://bitstop.co">Bitstop</a>
      </div>
    </div>
  </footer>
</div>
