<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bitcoin Tools by Bitstop" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bitcoin Tools" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-itunes-app" content="app-id=1163764342">
    <!-- <meta name="smartbanner:title" content="Bitcoin Tools">
    <meta name="smartbanner:author" content="Bitstop">
    <meta name="smartbanner:price" content="FREE">
    <meta name="smartbanner:price-suffix-apple" content=" - On the App Store">
    <meta name="smartbanner:price-suffix-google" content=" - In Google Play">
    <meta name="smartbanner:icon-apple" content="//a4.mzstatic.com/us/r30/Purple71/v4/02/e2/0c/02e20c13-ee35-1020-3565-af51295083ba/icon350x350.jpeg">
    <meta name="smartbanner:icon-google" content="//lh3.googleusercontent.com/zyLIXcoLrt-iOGhcuJhiRl0nsOOTCvmQwutMFOh4sV3iIbFXFJTjPz09VmW3wXSXCOs=w300-rw">
    <meta name="smartbanner:button" content="View">
    <meta name="smartbanner:button-url-apple" content="https://itunes.apple.com/us/app/bitcoin-tools/id1163764342?mt=8">
    <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=co.bitstop.android">
    <meta name="smartbanner:enabled-platforms" content="android,ios"> -->
    <script src="https://use.fontawesome.com/5e9aa853e8.js"></script>
  </head>
  <body class="landing-page landing-page1">
    <%= render 'layouts/messages' %>
    <%= yield %>
    <script>
      var onLoadHandlerForConflictTesting = function() {};
      window.onload = onLoadHandlerForConflictTesting;
    </script>
  </body>
</html>
